#h1{
    color: "Blue";
    background-color: yellowgreen;
}

body{
    background-color: rgba(251, 129, 108, 0.201);

}

button{
    background-color: blue;
    color: white;
}

.heading{
    color: fuchsia;
    font-style: inherit;
}
